@charset "UTF-8";


.bottom-bar {
    position: fixed;
    z-index: 9;
    background: #fff;
    bottom: 0;
    height: 46px;
    padding: 5px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-bar .music-info {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bottom-bar .music-info .music-detail {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  @media screen and (max-width: 414px) {
  .bottom-bar .music-info .music-detail p {
      max-width: 250px;
  }
  }
  @media screen and (max-width: 375px) {
  .bottom-bar .music-info .music-detail p {
      max-width: 210px;
  }
  }
  @media screen and (max-width: 320px) {
  .bottom-bar .music-info .music-detail p {
      max-width: 160px;
  }
  }
  @media screen and (min-width: 768px) {
  .bottom-bar .music-info .music-detail p {
      max-width: 580px;
  }
  }
  .bottom-bar .music-info .music-detail p {
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .bottom-bar .music-info .music-detail p.music-name {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    padding: 2px 0;
  }
  .bottom-bar .music-info .music-detail p.music-singer {
    color: #aaa;
    font-size: 10px;
    font-weight: 400;
    padding: 2px 0;
  }
  .bottom-bar .music-info .music-pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36px;
            flex: 0 0 36px;
    width: 36px;
    height: 36px;
  }
  .bottom-bar .playpause {
    border: 2px solid #999;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
  }
  .bottom-bar .playpause:active {
    background: #d5d5d5;
  }
  .bottom-bar .playpause i {
    display: block;
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    width: 22px;
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  .bottom-bar .playpause i.icon-pause {
    left: 50%;
    font-size: 18px;
    color: #c62f2f;
  }
  .bottom-bar .music-list {
    margin-left: 10px;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36px;
            flex: 0 0 36px;
    width: 36px;
    height: 100%;
    line-height: 36px;
    text-align: center;
    font-size: 26px;
    color: #999;
  }
  .bottom-bar .music-list:active {
    background: #d5d5d5;
  }