@charset "UTF-8";

.mymusic {
    position: fixed;
    background: #fff;
    overflow: auto;
    top: 50px;
    bottom: 46px;
    left: 0;
    right: 0;
    z-index: 9;
    -webkit-overflow-scrolling: touch;
}